<% @message.each do |message| %>
  <div class="message">
    	</br>
    	<small><a href ="/messages/<%= message.author %>">(by: <%= message.author %>)</small>
    	<small>(url: <%= message.url %>) </small>
    	<small>(created at: <%= message.created_at %>)</small>
    </h3>
    <p>
      <%= message.content %>
    </p>
  </div>
<% end %>

<a href = "/messages"> Back to All </a>